<link href="/assets/articulos-lista.css" rel="stylesheet">

<p id="notice"><%= notice %></p>

<h1 align="center">Listado de Articulos</h1>

    <div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
				<% @articulos.each do |articulo| %>

					<li>
						<% t = articulo.created_at%>
						<time datetime="<%= t %>">
							<span class="day"><%= t.day %></span>
							<span class="month"><%= t.strftime "%b." %></span>
							<span class="year"><%= t.year %></span>
						
						</time>
						<div class="info">
							<h2 class="title"><%= link_to articulo.titulo, articulo %></h2>
							<p class="desc"><%= articulo.subtitulo %></p>
							<ul>
								
								<li style="width:50%;"> <span class="fa fa-pencil"></span><%= link_to 'Edit', edit_articulo_path(articulo) %></li>
								<li style="width:50%	;"> <span class="fa fa-times"></span><%= link_to 'Destroy', articulo, method: :delete, data: { confirm: 'Are you sure?' } %></li>

							</ul>
						</div>


					</li>
                <% end %>    
				</ul>
			</div>
		</div>
	</div>



<%= link_to 'New Articulo', new_articulo_path %>
