
<div align="center"><p><h1>Listado de Articulos</h1><%= link_to 'Agregar nuevo', new_articulo_path %></p></div>

    <div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
				<% @articulos.each do |articulo| %>

					<li>
						<% t = articulo.created_at%>
						<time datetime="<%= t %>">
							<span class="day"><%= t.day %></span>
							<span class="month"><%= t.strftime "%b." %></span>
							<span class="year"><%= t.year %></span>
						
						</time>
						<div class="info">
							<h2 class="title"><%= link_to articulo.titulo, articulo %></h2>
							<p class="desc"><%= articulo.subtitulo %></p>
							<ul>
								<% if logged_in? %>
								  <% if current_user.id == articulo.usuario_id %>
								  <li style="width:50%;"> <span class="fa fa-pencil"></span><%= button_to 'Editar', edit_articulo_path(articulo), method: :get %></li>
								  <li style="width:50%	;"> <span class="fa fa-times"></span><%= button_to 'Eliminar', articulo, method: :delete, data: { confirm: 'Are you sure?' } %></li>
								  <% end %>
                                <% end %>  
							</ul>
						</div>


					</li>
                <% end %>    
				</ul>
			</div>
		</div>
	</div>




</body>
